/* Navbar Styles */
.navbar-nav {
    margin-left: auto;
    padding: 0 20px;
}
.navbar-brand, .navbar.logo {
    margin-right: 20px;
    padding: 0 20px;
    color: rgb(234, 236, 248);
}
.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: rgba(255, 255, 255) !important;
}
.navbar-nav .nav-item .nav-link {
    color: rgb(128, 39, 83);
}
.navbar-nav .nav-item .nav-link:hover {
    color: rgb(229, 129, 186);
}
.navbar-nav .nav-item.active .nav-link {
    color: rgb(229, 129, 186); 
}

/* Body Styles */
body {
    background-color: #fff;
    height: auto;

}

/* Slideshow Styles */
#slideshow {
    padding: 0px 200px; /* Top Bottom Left Right */
}

/* Carousel Styles */
.carousel {
    border-radius: 10px;
    overflow: hidden;
}
.carousel-inner {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    color: white;
}
.carousel-item img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}


/* Contact Us Styles */
#contact-us {
    text-align: center;
    color: rgb(128, 39, 83);
    padding: 50px 100px;
}
