/* Navbar Styles */
.navbar-nav {
    margin-left: auto;
    padding: 0 20px;
}
.navbar-brand, .navbar.logo {
    margin-right: 20px;
    padding: 0 20px;
    color: rgb(234, 236, 248);
}
.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: rgba(255, 255, 255) !important;
}
.navbar-nav .nav-item .nav-link {
    color: rgb(128, 39, 83);
}
.navbar-nav .nav-item .nav-link:hover {
    color: rgb(229, 129, 186);
}
.navbar-nav .nav-item.active .nav-link {
    color: rgb(229, 129, 186); 
}

/* Body Styles */
body {
    background-color: #fff;
    height: auto;

}
/* Centered Text Styles */
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px; 
    font-family: "VT323";
    color: white;
    padding: 10px 20px; /* Add padding around the text */
    text-align: center;
}

@media (max-width: 768px) {
    .centered-text {
        font-size: 60px; 
        text-align: center;
    }

}


/* Our Story Styles */
.our-story {
    background-color: rgb(251, 244, 253); 
    padding: 20px; /* Add padding around the content */
    border-radius: 10px; /* Add rounded corners to the container */
    text-align: center; 
    font-family: "Arial" ; 
    line-height: 1.6; 
    margin: 20px auto; /* Center the container horizontally */
    max-width: 800px; /* Set a maximum width for the container */
    color: rgb(128, 39, 83); 
}

.our-story p {
    margin: 20px 0; /* Add spacing between paragraphs */
}

.our-story img {
    max-width: 100%; /* Make sure images fit within the container */
    height: auto; /* Maintain aspect ratio */
    margin: 20px 0; /* Add spacing above and below images */
}


