@font-face {
    font-family: "VT323";
    src: url(/fonts/VT323-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Nanum Pen Script";
    src: url(/fonts/NanumPenScript-Regular.ttf) format("truetype");
}

/* Navbar Styles */
.navbar-nav {
    margin-left: auto;
    padding: 0 20px;
}
.navbar-brand, .navbar.logo {
    margin-right: 20px;
    padding: 0 20px;
    color: rgb(234, 236, 248);
    font-family: "VT323";
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: rgba(255, 255, 255) !important;
}
.navbar-nav .nav-item .nav-link {
    color: rgb(87, 6, 140);
    font-family: "share tech mono";
}
.navbar-nav .nav-item .nav-link:hover {
    color: rgb(229, 130, 186);
}
.navbar-nav .nav-item.active .nav-link {
    color: rgb(229, 130, 186); 
}



/* Center the video horizontally and vertically */
.video-teaser {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #ffffff;
    padding-bottom: 40px;
    transition: transform 0.8s ease; /* add smooth transition */
}

.video-teaser video {
    width: 70%;
    max-height: 100%;
    height: auto;
}

/* Center the main content */
.video-description {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    text-align: center; /* Align text to the center */
    height: 100vh; /* Make the container occupy the full viewport height */
    opacity: 1; /* Initial opacity */
    transition: opacity 0.6s ease; /* Add a transition for opacity */
}

/* Style the first h1 element */
.video-description h1:first-child {
    font-family: "VT323";
    font-size: 30px;
    color: rgb(87, 6, 140);
}

/* Style the second h1 element */
.video-description h1 {
    font-size: 5rem;
    font-family: "Nanum Pen Script";
    color: rgb(87, 6, 140);
    margin-top: 10px; /* Add margin between the two headings */
}

/* Style the paragraph */
.video-description p {
    font-size: 1rem;
    font-family: "Share Tech Mono";
    color: rgb(128, 39, 83);
    margin-bottom: 10px; /* Add margin between the headings and the paragraph */
}

/* Add a class to hide the video description */
.hide-description {
    opacity: 0;
}

@media (min-width: 768px) {
    /* Apply this style for screens wider than 768px */
    .video-description {
        padding: 50px 150px 30px 150px; /* Top Right Bottom Left */
    }
}

