@font-face {
    font-family: "VT323";
    src: url(/fonts/VT323-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Nanum Pen Script";
    src: url(/fonts/NanumPenScript-Regular.ttf) format("truetype");
}

/* Navbar Styles */
.navbar-nav {
    margin-left: auto;
    padding: 0 20px;
}
.navbar-brand, .navbar.logo {
    margin-right: 20px;
    padding: 0 20px;
    color: rgb(234, 236, 248);
    font-family: "VT323";
}

.navbar.navbar-expand-lg.navbar-light.bg-light {
    background-color: rgba(255, 255, 255) !important;
}
.navbar-nav .nav-item .nav-link {
    color: rgb(87, 6, 140);
    font-family: "share tech mono";
}
.navbar-nav .nav-item .nav-link:hover {
    color: rgb(229, 130, 186);
}
.navbar-nav .nav-item.active .nav-link {
    color: rgb(229, 130, 186); 
}

/* Body Styles */
body {
    background-color: #fff;
    height: auto;
}

/* Teaser Styles */
#teaser {
    position: relative;
}

#image-container {
    text-align: right;
}
#image-container img {
    width: 100%;
    height: auto;
}

/* Movie Description Styles */
.describe-movie {
    position: relative;
    color: rgb(128, 39, 83);
    font-size: 1rem;
    text-align: center;
    font-family: "Share Tech Mono";
    padding: 50px 200px 0px 200px; /* Top Right Bottom Left */

}
.describe-movie h1 {
    font-family: "Nanum Pen Script";
    color: rgb(90, 31, 90);
    padding-bottom: 20px;
    font-size: 80px;
}
.describe-movie .readmore {
    color: rgb(128, 39, 83);
    text-decoration: underline;
}

.describe-movie .readmore:hover {
    color: rgb(229, 130, 186);
}

/* Slideshow Styles */
#slideshow {
    padding: 0px 200px; /* Top Bottom Left Right */
    padding-bottom: 50px;
}

/* Carousel Styles */
.carousel {
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 50px;
}
/* .carousel-inner {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    color: white;
} */
.carousel-item img {
    object-fit: cover;
    height: 500px;
    width: 100%;
}

/* Contact Us Styles */
#contact-us {
    background-color: rgb(251, 244, 253);
    padding: 80px 0;
    text-align: center;
    color: rgb(87, 6, 140);
}

.section-title {
    font-size: 46px;
    font-family: "VT323";
    font-weight: bold;
    margin-bottom: 30px;
    color: rgb(87, 6, 140); 
}

.contact-item {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: "Share Tech Mono";
}

.contact-label {
    display: inline-block;
    width: 100px; 
    font-family: "Share Tech Mono";
}

.contact-link {
    color: rgb(128, 39, 83);
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-link:hover {
    color: rgb(229, 130, 186); /* Hover color*/
}


/* Main Content Styles */
.main-content {
    transition: transform 1s ease;
    transform: translateY(0);
    background-color: white;
}
